html, body{
  margin: auto;
  padding: 0;
  height: 100%;
  font-family: georgia;
}

body{
  background-color: lightgray;
  font-family: sans-serif;
  font-family: cursive;
  width: auto;
  max-width: 60%;
}

h1{
  font-size: 1.8 em;
}

p {
  font-size: 1.2 em;
  line-height: 150%;
}
