* {
  font-family: "Open Sans", Arial, sans-serif;

}
img{
  max-width: 100%;
  max-height: 100%;
}

p {
  line-height: 1.5;
  font-size: 16px;
  color: #333333;
}

body {
  overflow-x: hidden;
}
/*
.oversikt_undergrupper_boks{

  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(3,33%);
  grid-column-gap: 15px;
  grid-template-rows: repeat(4,25%);
  grid-row-gap: 25px;
  justify-content: center;
}
*/
.oversikt_undergrupper_boks{
  margin: auto;
  padding: 25px;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(4,325px);
  grid-column-gap: 100px;
  grid-row-gap: 25px;
  justify-content: space-between;
}
/*.oversikt_undergrupper_boks_rad{
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(3,325px);
}
.oversikt_undergrupper_boks_nederst{
  grid-template-columns: repeat(2,1fr);
  grid-template-columns: repeat(2,325px);
}
*/
.oversikt_undergrupper_boks a{
  margin-bottom: 25px;
  background-color: inherit;
  line-height: 1.5;
  color: inherit;
  text-decoration: none;
 /*denne kan brukes til å forandre width på text*/
  font-size: 20px;
  /*margin-left: 25%;*/
}

.oversikt_undergrupper_boks h3{
  text-align: center;
  margin-top: 0;
}
@media only screen and (max-width: 900px){
  .oversikt_undergrupper_boks{
    grid-template-rows: repeat(11,300px);
    grid-template-columns: 1fr;
    justify-content: center;
    grid-row-gap: 75px;
  }

}

.Arkiv_Bilder{
  display: grid;
  grid-template-rows: 30px 20vh;
  grid-column-gap: 3px;
  justify-content: center;
  border-bottom: 1px black solid;
  grid-template-columns:0.1fr repeat(5,1fr) 0.1fr;
}

@media only screen and (max-width: 1000px) {
.Arkiv_Bilder{

  grid-template-columns:0.1fr repeat(4,1fr) 0.1fr;
}
}
@media only screen and (max-width: 700px) {
.Arkiv_Bilder{
  grid-template-columns:0.1fr repeat(3,1fr) 0.1fr;

}
}

.hoverable{ /* alle bilder i arkivet har denne*/
  margin: auto;
  display: grid;

  justify-content: center;
  width: 95%; /*Maks størrelse skal være grid størrelsen til Arkiv_Bilder*/
  height: 17vh;
  padding: 2.5%;
  object-fit: cover;
}
.hoverable:hover{
  padding:0px;
  margin: auto;
  width: 100%;
  height: 18vh;

}
.img_in_focus{ /* brukes for å få et bilde i fokus*/
  position: fixed;
  max-height: 70vh;
  max-width: 70vw;
  left: 0px;
  top:0px;
  z-index: 1;
  /*i js, settes  paddings etter bildets og skjermens størrelse*/

  background-color: rgba(0,0,0,0.7);

}

.arkiv_video_omrade{
  margin-top: 30px;
  display: grid;
  grid-template-rows: 0.10fr 0.10fr   calc( 35vw * 9 / 16 ) 0.10fr 1fr;
  grid-template-columns: 0.5fr 0.5fr;
  grid-column-gap: 10px;

  justify-content: center;
}
.arkiv_video_omrade iframe{
  height: calc( 35vw * 9 / 16 )

}
iframe{

width: 100%;
height: 100%
  }

 #arkiv_body{

   padding-left: 5px;
   padding-right: 5px;
   padding-bottom: 5px;

}
.arkiv_title {
  margin: auto;
  grid-column: 1/end;
}
.video_top_title{
  justify-content:  center;
  margin: auto;
  grid-column: span 2;
}
.video_title{
  margin: auto;
  padding-top: 10px;
}
/*#video_title_1{
  grid-column: 1
}
#video_title_2{
  grid-column: 2
}*/
#video_title_3{
  grid-column: 3/end
}
.knapp {
  margin: auto;
  height: 6vh;
  width: 40px;
  position: relative;
  background-color: #a01405;
  border-color: #ffce46;
  z-index: 0;
}
.knapp:hover{
   background-color:#821308;
}
.knapp p {
  margin: auto;
  color: #ffce46;
}

#hovedside_boks{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: 50px auto;
}

.nyheter_boks{
  grid-column-start:1;
  grid-column-end: 3;
  text-align: center;
  font-weight: bold;
}
.tekst_boks{
  grid-row: 2/3;
  grid-column: 1/3;
  margin: 20px;
  padding: 20px;
}

#festet{
 grid-column: 3;
 grid-row: 1/3;
}
#kalender_boks{
  grid-column: 4;
  grid-row: 1/3;
}

#kalender_boks iframe{
  height: 60vh;
}

@media only screen and (max-width: 900px) {
  #hovedside_boks{
    grid-template-columns: 1fr;
    grid-template-rows: 50px repeat(3, auto);
  }
  .nyheter_boks, .tekst_boks, #festet, #kalender_boks{
    grid-column: 1;
  }
  #festet{
    grid-row: 2;
  }
  .tekst_boks{
    grid-row: 3;
  }
  #kalender_boks{
    grid-row: 4;
  }
  #kalender_boks iframe{
    width: 100%;
  }
}

.gruppeboks {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  padding-bottom: 50px;
}

.gruppetekst {
  grid-column: 1/3;
  padding: 20px;
}

.gruppetekst h1, .gruppeleder h2{
  padding-bottom: 7px;
  border-bottom: 1px solid black;
}

.gruppeleder {
  grid-column: 3;
  padding: 20px;
}

.gruppeleder p{
  margin-bottom: 50px;
}

.lederbilde{
  padding-left: 20%;
  width: 60%;
  min-height: 30vh;
  object-fit: cover;
}


@media only screen and (max-width: 900px) {
  .gruppeboks {
    grid-template-columns: 1fr;
  }
  .gruppetekst {
    grid-column: 1;
  }
  .gruppeleder {
    grid-column: 1;
  }
  .lederbilde {
    min-height: 50vh;
    object-fit: contain;
  }
}

.banner_element {
  position: relative;
  background-color: black;
  left: -13%;
  min-width: 126%;
}

.banner{
  position: relative;
  left: -13%;
  min-width: 126%;
}

.slides{
  display: none;
  min-height: 20vh;
  max-height: 40vh;
  width: 100vw;
  object-fit: cover;
}

.prev, .next{
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  user-select: none;
}

.prev{
  left: 15px;
}

.next{
  right: 15px;
}

.dots{
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 15px;
  width: 100vw;
}

.dot{
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 10px;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover{
  background-color: white;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
